.card{
    width: 18rem;
    box-shadow: 2px 2px 15px 3px rgba(100, 100, 100, 0.1);
    width: 600px;
}

.custom-Home{
    padding-left: 15px;
    text-align: left;
}

tr, td {
    padding-left: 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .custom-txt{
    padding-left: 15px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    

  }
